<div class="container-fluid vh-100 d-flex flex-column p-0">
  <p>scene</p>
</div>
<p>midline</p>
<div class="flex-fill d-flex flex-column justify-content-center align-items-center bg-light">
  <p>menu</p>
</div>
